/*$default_color: #795548;*/

.raku-textbox-asterisk{
	-webkit-text-security: disc;
}

.raku-cursor-hand{
	cursor: pointer;
}

/* ====================== Radio Button <<START>> ====================== */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #795548;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}



/* ====================== Radio Button <<END>> ====================== */

/* ====================== Light Hover Effect <<START>> ====================== */
.light-glow{
    position: relative;

}

.light-glow:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #ffee10;
    transition: .5s;
    transform: scale();
    z-index: -1;
}

.light-glow:hover:before{
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
}

.light-glow:hover{
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
}

/* ====================== Light Hover Effect <<END>> ====================== */


